h2 {
    text-align: center;
    padding: 5rem 0;
}

.container {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 1rem 5rem;
    overflow: hidden;
}

.carousel {
    display: flex;
    overflow-x: hidden; 
    scroll-snap-type: smooth;
    gap: 1rem;
    padding: 1rem;
    white-space: nowrap;
    width: 100%;
    position: relative;
    border-radius: 1rem;    
}

.product-card {    
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
    border-radius: 1rem;
    padding: 1rem;
}

.product-image {
    width: 10rem;
    height: 10rem;
    object-fit: contain;
}

h3,
:host ::ng-deep .mdc-button__label {
    color: var(--mat-sys-tertiary);
}

:host ::ng-deep .mat-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    cursor: pointer;
    
    width: 3rem;
    height: 3rem;
    font-size: 3rem;

    transform-origin: left top;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

:host ::ng-deep .mat-icon:hover {
    transform: translate(-0.1rem, -1.5rem) scale(1.1);
}

:host ::ng-deep .mat-icon:nth-of-type(1) {
    left: 1rem;
}

:host ::ng-deep .mat-icon:nth-of-type(2) {
    right: 1rem;
}