<div class="container">
    <div class="top-banner">
        <img class="banner" src="banner 1.png" alt="Tik tok banner">
    </div>

    @if (products && products.length > 0) {
        <product-list [products]="products"></product-list>
    }

    <main>
        <h2>Promociones del 12 al 25 de Marzo 2025</h2>

        <div class="promo-container">
            <img class="promo" src="promo/promo banner 1.webp">
            <img class="promo" src="promo/promo banner 2.webp">
            <img class="promo" src="promo/promo banner 3.webp">
        </div>

        <div class="promo-container">            
            <img class="promo" src="promo/promo banner 4.webp">
            <img class="promo" src="promo/promo banner 5.webp">
            <img class="promo" src="promo/promo banner 6.webp">
            <img class="promo" src="promo/promo banner 7.webp">
        </div>
    </main>

    <div class="bottom-banner">
        <img class="banner" src="banner 2.webp" alt="Amper bebida banner">
    </div>

    <div class="videos">
        <h2>Da click a nuestros videos de YouTube</h2>

        <div class="video-container">
            <div class="iframe-parent">
                <iframe src="https://www.youtube.com/embed/X1zoTU80m68?si=9SUHZ3scjp1d8ALZ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="iframe-parent">
                <iframe src="https://www.youtube.com/embed/X-uyj3IS73A?si=2vIU8c3nqS0ka8wb" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="iframe-parent">
                <iframe src="https://www.youtube.com/embed/WtwK_tbv2Zw?si=nUk7_oVoc7LekjdA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
       
            </div>
        </div>
    </div>
</div>