<nav>
    <ul>
        <li><a routerLinkActive="selected" routerLink="">Inicio</a></li>
        <li><a routerLinkActive="selected" routerLink="/about">Nosotros</a></li>
        <li><a routerLinkActive="selected" routerLink="/promo">Promociones</a></li>
        <li><a routerLinkActive="selected" routerLink="/location">Sucursales</a></li>
        <li><a routerLinkActive="selected" routerLink="/news">Noticias</a></li>
        <li><a routerLinkActive="selected" routerLink="/invoice">Facturación</a></li>
        <li><a routerLinkActive="selected" routerLink="/contact">Contacto</a></li>
    </ul>
</nav>