.container {
    padding: 5rem;
}

:host ::ng-deep .mat-icon.close {
    position: absolute;
    top: 2rem;
    right: 2rem;
    cursor: pointer;
    
    width: 2rem;
    height: 2rem;
    font-size: 2rem;

    transform-origin: left top;
}

.items-container {   
    max-height: 25vh;
    overflow-y: auto; /* Allow vertical scroll */
    overflow-x: hidden; /* Prevent horizontal scroll */

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-content: start;
    gap: 0;

    margin: 3rem 0;
    border: 1px dashed var(--mat-sys-primary); /* Outer border */
    border-radius: 15px; /* Rounded corners */
}

.child {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    text-align: center;
    border: 1px dashed var(--mat-sys-primary);
    white-space: nowrap;
}

.ellipsis-text {    
    white-space: nowrap;       /* Prevents text from wrapping */
    overflow: hidden;          /* Hides overflow text */
    text-overflow: ellipsis;   /* Adds "..." when text overflows */
    max-width: 100%;           /* Ensures it stays within container */
    justify-content: flex-start;
    display: block; /* Asegura que <p> no sea inline */
}

.items-container::-webkit-scrollbar {
    width: 1rem; /* Width of the scrollbar */
}

.items-container::-webkit-scrollbar-track {
    background: var(--mat-sys-surface-container-highest); /* Track color */
    border-radius: 10px;
}

.items-container::-webkit-scrollbar-thumb {
    background: var(--mat-sys-primary); /* Scrollbar handle color */
    border-radius: 10px;
}

.items-container::-webkit-scrollbar-thumb:hover {
    background: var(--mat-sys-outline); /* Darker on hover */
}

@media screen and (max-width: 768px) {
    .items-container {   
        grid-template-columns: 100%;
    }

    /* Elimina todos los bordes internos en vista móvil */
    .child {
        border: none;
        border-bottom: 1px dashed var(--mat-sys-primary);
    }

    /* Último elemento de la columna no tendrá borde inferior */
    .child:last-child {
        border-bottom: none;
    }
}

@media screen and (min-width: 769px) {
    /* Remove border where it overlaps with the outer grid border */
    .child:first-child,
    .child:nth-child(3n+1) { /* First column */
        border-left: none;
    }
    .child:nth-child(-n+3) { /* First row */
        border-top: none;
    }
    .child:nth-child(3n) { /* Last column */
        border-right: none;
    }
    .child:nth-last-child(-n+3) { /* Last row */
        border-bottom: none;
    }
}