<div class="container">
    <div class="row">
        <img class="logo" src="logo.png" alt="Grupo Zorro Logo">      
        <h4>Grupo Zorro Abarrotero es una empresa 100% mexicana, líder en el sector retail que por más de 35 años se ha consolidado como la número 1 en ventas dentro del sector mayorista.</h4>  
    </div>
    <div class="row">
        <h3>CONTACTO</h3>
        <h4> Vialidad de la Barranca No. 6, Huixquilucan, Estado de México.</h4>
        <h4>Clientes. 5245-2750</h4>
        <h4>Proveedores. 5245-2720</h4>
        <h4>atencionzorro&#64;asezor.com</h4>
    </div>
    <div class="row">
        <h3>ENLACES</h3>
        <h4>¿Quieres ser proveedor?</h4>
        <h4>Promociones</h4>
        <h4>Sucursales</h4>
        <h4>Marcas exclusivas</h4>
        <h4>Categorias</h4>
        <h4>Comunidad RED</h4>
        <h4>Formas de pago</h4>
    </div>
    <div class="row">
        <h3>AVISO DE PRIVACIDAD</h3>
        <h3>TÉRMINOS Y CONDICIONES</h3>
        <h3>DERECHOS ARCO</h3>
    </div>
</div>

<div class="line">
    <p>© 2025 Derechos Reservados. “Zorro Abarrotero” Sitio creado por Zorro Abarrotero y Tendencia Digital</p>
</div>